<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Praktikum Data Mining</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <style>
     .bg-white {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

form {
  max-width: 300px;
  margin: 0 auto;
}
  </style>
</head>
<body>
 <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700">
  <div class="p-4 sm:p-7">
    <div class="text-center">
      <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Change Password</h1>
    </div>

    <div class="mt-5">
      <!-- Form -->
      <form id="formUbahPassword" action="/user/ubah-password" method="POST">
        <div class="grid gap-y-4">
          <!-- Form Group -->
          <div>
            <label for="email" class="block text-sm mb-2 dark:text-white">Email</label>
            <div class="relative">
              <input type="email" id="email" name="email" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" required>
            </div>
          </div>
          <!-- End Form Group -->

          <div>
            <label for="currentPassword" class="block text-sm mb-2 dark:text-white">Current Password</label>
            <div class="relative">
              <input type="password" id="currentPassword" name="currentPassword" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" required>
            </div>
          </div>

          <div>
            <label for="newPassword" class="block text-sm mb-2 dark:text-white">New Password</label>
            <div class="relative">
              <input type="password" id="newPassword" name="newPassword" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" required>
            </div>
          </div>
          <!-- End Form Group -->

          <button type="submit" class="py-2 px-3 inline-flex m-5 items-center gap-x-2 text-base font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
            Ubah Password
          </button>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
</div>

  <script src="/preline/preline.js"></script>
</body>
</html>
